<div class="container">
	<div class="row">

		<div class="span12">
			<section class="crumb">
				<h2>
					Services.&nbsp<small>Check our services.</small>
				</h2>	
				<div id="page-title" class="clearfix">
					<ul class="breadcrumb">
						<li><%= link_to 'home' , index_home_path() %><span class="divider">/</span></li>
						<li><%= link_to 'services' , services_home_path(), :class => "current" %></li>
					</ul>
				</div>	
			</section>		
		</div> <!-- /. crumb -->

		<div class="span12">
			<div class="widget ">
				<div class="widget-content services">

					<div class="span5">
					<div class="widget">
						<h3>Web Development services</h3>
						<p>PHP 4, PHP 5, Ruby on Rails, Web Services, RESTFull web services, .Net, HTML/HTML5, CSS, JQuery/JQueryUI, JQuery Mobile, JavaScript, XML (DOM, SAX, XSL), Adobe Photoshop, Gimp, CorelDraw, Fireworks, HTML, CSS, XHTML, Dreamweaver.</p>
					</div>
					</div>

					<div class="span5">
					<div class="widget">
						<h3>Database Plataform & Webserver</h3>
						<p>MySQL 4.x/5.x, Oracle, Sybase, MS SQL Server 2000 / SQL 2005 / SQL 2008/ SQL 2012, Postgresql, MS, IIS, Apache</p>
					</div>
					</div>

					<div class="span5">
					<div class="widget">
						<h3>Frameworks & CMS</h3>
						<p>Zend, Smarty, CodeIgniter, Magento, Wordpress, JQuery Mobile, PayPal Api, Google Maps, Facebook Api, Twitter Api, Titanium Studio, PhoneGap.</p>
					</div>
					</div>

					<div class="span5"> 
					<div class="widget">
						<h3>Mobile Applications Services</h3>
						<p>Iphone development, Ipad development, Blackberry, Google Android, Windows8 Phone, Android tablet</p>
					</div>
					</div>

					<div class="span5">
					<div class="widget">
						<h3>Internet Marketing services</h3>
						<p>Search Engine Optimization, Pay per Click Management, Social Marketing.</p>
					</div>
					</div>

					<div class="span5">
					<div class="widget">
						<h3> Graphic Design</h3>
						<p>Banner Design, Application Designing, Front End Design, Logo Design.</p>
					</div>					

					</div>

				</div>
			</div>

		</div>
		
	</div><!-- /.row	-->
</div><!-- /.container	-->